body {
  background-color: #e3f6f5;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  margin: 20px auto;
  background-color: #ffffff;
}

.container .actions {
  padding: 20px;
  background-color: #272343;
  text-align: center;
}

.container .actions h1{
  color: #ffffff;
  font-size: 24px;
}

.grid {
  display: table;
  max-width: 80%;
  margin: 10px auto;
  border: 1px solid #000;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  text-transform: uppercase;
  border: 1px solid #DDD;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
}

.wordList {
  margin: 0;
  padding: 10px;
  padding-left: 25px;
  background-color: #bae8e8;
  column-count: 2;
  column-rule: none;
  list-style-type: none;
  font-family: 'Courier New', Courier, monospace;
} 

.wordList li:before {
  content: "[\00a0\00a0]";
  display: inline-block;
  padding: 0 10px;
}

@media print {
  button, .github-fork-ribbon {
    display: none;
  }
  .container .actions h1{
    color: #000000;
  }
 }