.grid {
  display: table;
  border: 1px solid #000;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  text-transform: uppercase;
  border: 1px solid #DDD;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
}